[submodule "references/started-games/02-asteroids"]
	path = references/started-games/02-asteroids
	url = https://github.com/fernandojavascrip21-dot/claude-asteroids.git
	ignore = dirty
[submodule "references/started-games/03-tetris"]
	path = references/started-games/03-tetris
	url = https://github.com/fernandojavascrip21-dot/claude-tetris.git
	ignore = dirty
[submodule "references/started-games/04-arkanoid"]
	path = references/started-games/04-arkanoid
	url = https://github.com/fernandojavascrip21-dot/04-arkanoid.git
	ignore = dirty
